h1 a {text-decoration:none; color:black;}
ul.toc a {text-decoration:none;}
ul.navigation {
padding-left:0px;
margin-left:0px;
}
ul.navigation li {
    display: inline;
    list-style-type: none;
    padding-right: 20px;
}
